<% content_for :page_title do %>
    <%= Spree.t(:settings, scope: :addtoany) %>
<% end %>

<%= form_tag admin_addtoany_settings_path, method: :put do %>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="checkbox">
            <%= label_tag :enabled_in_news do %>
                <%= preference_field_tag :enabled_in_news, Spree::AddtoanyConfig[:enabled_in_news], type: :boolean %>
                <%= Spree.t :enabled_in_news, scope: [:addtoany, :preferences] %>
            <% end %>
          </div>
        </div>
        <div class="checkbox">
          <%= label_tag :enabled_in_products do %>
              <%= preference_field_tag :enabled_in_products, Spree::AddtoanyConfig[:enabled_in_products], type: :boolean %>
              <%= Spree.t :enabled_in_products, scope: [:addtoany, :preferences] %>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :codes_str, Spree.t(:codes_str, scope: [:addtoany, :preferences]) %>
        <%= preference_field_tag :codes_str, Spree::AddtoanyConfig[:codes_str], type: :string %>
        <p class="help-block"><%= Spree.t(:codes_help, scope: [:addtoany, :preferences]) %></p>
      </div>
    </div>
    </div>
    <div>
      <div>
        <div class="form-actions" data-hook="buttons">
          <%= button Spree.t('actions.update'), 'save' %>
        </div>
      </div>
    </div>
<% end %>
