<fieldset id="order_details" data-hook>
  <div class="clear"></div>
  <p class="lead copy"><%= Spree.t(:confirm) %></p>
  <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>
</fieldset>

<fieldset id="comment">
  <%= form.fields_for :comments do |comment_form| %>
    <p>
      <%= comment_form.text_area :comment, {style: 'resize: none; overflow-y: hidden; height: 70px; width: 100%;', class: 'copy', placeholder: "Комментарий", cols: "30", rows: "20", id: "call_back_txt"} %>
    </p>
  <% end %>
</fieldset>

<div class="form-buttons" data-hook="buttons">
  <%= link_to '← Назад', cart_path, class: 'btn btn-info copy' %>
  <%#= submit_tag Spree.t(:place_order), class: 'btn btn-primary pull-right copy' %>
  <%= link_to(Spree.t(:place_order), paypal_express_url(payment_method_id: @order.available_payment_methods.first.id), method: :post, id: 'paypal_button', class: 'btn btn-primary pull-right copy' ) %>

  <script>
    Spree.disableSaveOnClick();
    SpreePaypalExpress.paymentMethodID = "<%= @order.available_payment_methods.first.id %>";
  </script>
</div>
