<div class="row">
  <div class="col-md-12">
    <% if need_auth?(user: current_spree_user, order: @order)%>
    <p class="lead copy">Продолжить без авторизации</p>
    <% end %>

    <%= render 'spree/checkout/one_step_address', form: form %>

    <p class="lead copy">Способ оплаты</p>
    <% @order.available_payment_methods.each do |method| %>
    <label class="radio">
      <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first, class:"custom-radio", data:{toggle:'radio'} %>
      <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
      <%= Spree.t(method.name, :scope => :payment_methods, :default => method.name) %>
    </label>
    <% end %>
    <%= render partial:'spree/checkout/payment_buttons'%>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div>
      <fieldset id="comment">
          <p>
            <%= form.text_area :comment, {style: 'resize: none; overflow-y: hidden; height: 70px; width: 100%;', class: 'copy', placeholder: "Комментарий", cols: "30", rows: "20", id: "call_back_txt"} %>
          </p>
      </fieldset>
    </div>
    <a class="btn btn-info copy" href="card.html"> ← Назад </a>
    <%= form.submit 'Оплатить', :class => 'btn btn-primary pull-right copy js-submit-target', id:'one_step_submit'%>
    <%= link_to 'Оплатить', '#',:class => 'btn btn-primary pull-right copy js-submit', data:{ target: 'one_step_submit'}%>
  </div>
</div>
