<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card_block">
        <div class="b_title">
          <div class="page-header">
            <h3><%= Spree.t(:registration) %></h3>
          </div>
        </div>

        <div id="registration" class="row" data-hook>
          <div id="account">
            <%= render :partial => 'new_user' %>
          </div>
          <% if Spree::Config[:allow_guest_checkout] %>
            <div class="col-md-6">
              <div class="panel-heading">
                <h3 class="panel-title"><%= Spree.t(:guest_user_account) %></h3>
              </div>
              <div id="guest_checkout" class="panel-body" data-hook>
                <%= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f| %>
                  <p>
                    <%= f.email_field :email, :class => 'form-control title', :placeholder => Spree.t(:email) %>
                  </p>
                  <p><%= f.submit Spree.t(:continue), :class => 'btn btn-primary pull-right copy' %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
