<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
  <div class='row'>
    <%- if controller_name == 'posts' %>
      <%- nav_class = 'col-md-12 text-center' %>
      <%- ul_class = 'pagination copy' %>
    <%- else %>
      <%- nav_class = 'col-md-12 nav_select' %>
      <%- ul_class = 'pagination' %>
    <%- end %>
    <nav class="<%= nav_class %>">
      <ul class="<%= ul_class%>">
        <%= prev_page_tag unless current_page.first? %>
        <%#= first_page_tag unless current_page.first? %>
        <% each_page do |page| -%>
          <% if page.left_outer? || page.right_outer? || page.inside_window? -%>
            <%= page_tag page %>
          <% elsif !page.was_truncated? -%>
            <%#= gap_tag %>
          <% end -%>
        <% end -%>
        <%= next_page_tag unless current_page.last? %>
        <%#= last_page_tag unless current_page.last? %>
      </ul>
    </nav>
  </div>
<% end -%>
